<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>注册</h1>
            <form id="my_form" onsubmit="false">
                {% csrf_token %}
                <div class="form-group">
                        <label for="id_file">头像
                            <img src="/static/image/default.jpg" id="id_img" width="80" height="80" style="margin-left: 20px">
                        </label>
                        <input type="file" name="file" id="id_file" style="display: None">
                </div>
                {% for foo in form %}
                    <div class="form-group">
                        {#foo.auto_id就是foo生成的input的id#}
                        <label for="{{ foo.auto_id }}">{{ foo.label }}</label>
                        {{ foo }}<span class="error pull-right" style="color: red"></span>
                    </div>
                {% endfor %}
                <input type="button" class="btn btn-success" value="提交" id="submit_btn">
            </form>
        </div>
    </div>
</div>
</body>
<script>
    //当盖控件发生变化时，响应该事件
    $("#id_file").change(function(){
        //alert(1)
        //取到文件对象
        var file = $("#id_file")[0].files[0]
        //借助FileReader文件阅读器 把file放到img控件上
        //首先生成一个文件阅读器对象赋值给filereader
        var filereader = new FileReader()
        //把文件读到filereader对象中
        filereader.readAsDataURL(file)
        //读文件需要时间
        filereader.onload=function(){
             $("#id_img").attr('src',filereader.result)
        }
    })

     $('#submit_btn').click(function(){
         {#ajax上传文件#}
         var formdata = new FormData()
         {#//一个一个添加#}
         {#formdata.append('name',$("#id_name").val())#}
         //简便方法
         //form对象的serializeArray会把form中的数据包装到一个对象中
         var my_form_data=$('#my_form').serializeArray()
         {#console.log(typeof my_form_data)#}
         {#console.log(my_form_data)#}
         //jq的循环，传两个参数，第一个参数：循环的对象，第二个参数：匿名函数
         $.each(my_form_data,function(k,v){
             {#console.log(k)#}
             {#console.log(v)#}
             formdata.append(v.name,v.value)
         })
         formdata.append('avatar',$('#id_file')[0].files[0])
         $.ajax({
             url:'/app01/register/',
             type:'post',
             processData:false,//告诉jQuery不要处理发送的数据
             contentType:false,//告诉jQuery不要设置Content—Type请求头
             data:formdata,
             success:function(data){
                 console.log(data)
                 if(data.code==100){
                     location.href="/app01/login/"
                 }else if(data.code==101){
                     $.each(data.msg,function(k,v){
                         console.log(k)
                         console.log(v)
                         $("#id_"+k).next().html(v[0])
                         if(k=="__all__"){
                             $("#id_re_pwd").next().html(v[0])
                         }
                     })
                 }
                 //定时器
                 setTimeout(function(){
                     $(".error").html("")
                 },5000)
            }
        })
    })
</script>
</html>